.experiencia{
    padding: 3rem 8rem 3rem 8rem;
    display: grid;
    place-items: center;
    background: var(--color-blanco);
}

@media screen and (max-width: 768px){
    .experiencia{
        padding: 1.5rem 1rem;
    }
}