.sobremi{
    background: var(--color-azulClaro);
    padding: 3rem 30rem 3rem 10rem;
    align-items: center;
}

@media screen and (max-width: 768px){
    .sobremi{
        padding: 2rem 1rem 2rem 1rem;
    }
}