:root{
    --color-azulClaro: #EAF2FD;
    --color-grisHover: #8e8e8e;
    --color-blanco: #ffffff;
    --color-grisLetras: #464646;

    --color-rojoscuro: #740505;
    --color-verdeclarito: #D7FFCA;
}