.formacion__institucion{
    align-items: center;
    margin: 0 8rem 0rem 8rem;
}

.universidad{
    padding-top: 1rem;
    padding-right: .5rem;
    padding-bottom: .8rem;
}

@media screen and (max-width: 768px){
    .formacion__institucion{
        display: grid;
        place-items: center;
    }
    .universidad{
        padding: 0 0 .5rem 0;
    }
}