.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: row-reverse;
}

.persent__imagen{
    width: 22rem;
}

@media screen and (max-width: 768px){
    
    .presentacion{
        display: grid;
        place-items: center;
    }

    .persent__imagen{
        width: 15rem;
        height: 15rem;
    }
}