.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
    backdrop-filter: blur(10px);
    
    border-radius: 8rem;
}

.persent__imagen{
    width: 22rem;
}