.habilidades__imagenes{
    list-style: none;
}

.imagen__item{
   width: 20%;
   transition: all .10s;
}

.imagen__item:hover{
    width: 25%;
}

@media screen and (max-width: 768px){
    .imagen__item{
        width: 7rem;
    }
}